body {
    background-color: #1c1c1c;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    text-align: left;
}

h1 {
    display: inline-block;
    font-weight: 400;
    font-size: 200%;
    text-shadow: -2px 2px 7px;
    padding: 10px;

    background-color: #252526;
    border-radius: 5px;

    box-shadow: -5px 5px 5px 5px #0a0a0a;
}

button {
    font-family: 'Roboto Mono', monospace;
    background-color: #252526;
    color: white;
    padding: 10px;
    font-size: 50%;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: -3px 3px 3px 3px #0a0a0a;
}

p {
    font-size: 150%;
    color: white;
}

/* Specials */

.hidden {
    display: none !important;
}

#abtMeContent {
    display: inline-block;
    background-color: #252526;
    padding: 5px 5px 5px 30px !important;
    margin-top: 0px;
    border-radius: 5px;
    box-shadow: -3px 3px 3px 6px #ffd602;
}

#workOnContent {
    display: inline-block;
    background-color: #252526;
    padding: 5px 5px 5px 30px !important;
    margin-top: 0px;
    border-radius: 5px;
    box-shadow: -3px 3px 3px 6px #ffd602;
}

/* Colors */

.green {
    color: #6a9956;
}

.lblue {
    color: #97d4f4;
}

.lyellow {
    color: #d7ba7d;
}

.byellow {
    color: #ffd602;
}

.lorange {
    color: #ce9178;
}
